.header {
  width: 100%;
  position: absolute;
}
nav {
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo {
  margin-left: 1rem;
}
.logo h1 {
  text-transform: uppercase;
  font-size: 30px;
  color: black;
}
.ul-items {
  display: flex;
  list-style: none;
  align-items: center;
}
.ul-items li {
  margin-right: 3.5rem;
}

.ul-items li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
.ul-items li a:hover {
  border-bottom: 3px solid red;
}



.footer {
  background-color: gray;
  margin-top: 755px;
  padding: 2px;
}
