.main-section {
  width: 100%;
  min-height: 100vh;
  background-color: aquamarine;
  font-family: "Courier New", Courier, monospace;
  border: 7px solid black;
  overflow: hidden;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.texts {
  margin-left: 10rem;
  text-transform: uppercase;
}

.texts h1 {
  color: gray;
  margin-left: 0px;
}

.texts .h1-big {
  margin-left: 0px;
  font-size: 60px;
  color: rgb(61, 60, 60);
}

.texts p {
  border-top: 2px solid grey;
  color:black;
  width: 70%;
  text-transform: uppercase;
}

.text-button {
  margin-top: 2.4rem;
  padding: 14px 35px;
  cursor: pointer;
  background-color: rgb(59, 55, 55);
  color: white;
  border: none;
  border-radius: 5px;
}

.image {
  clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 39% 100%, 0% 50%, 36% 0);
  background-color: black;
}

.image img {
  margin-top: 5rem;
  height: 500px;
  width: 600px;
  object-fit: contain;
}

@media screen and (max-width: 900px) {
  .main-section {
    max-width: 100%;
    height: 100vh;
    background-color: white;
    font-family: "Courier New", Courier, monospace;
  }
  /* .container {

    } */
}
